#header {
  .headerHeader {
    background-color: #000000;
    align-items: center;
    display: flex;
    gap: 1.5px;
    justify-content: center;
    color: white;
    height: 48px;

    h2 {
      font-size: 14px;
      font-weight: 400;
      margin-left: 231px;
    }
    input {
      width: 24px;
      height: 24px;
      text-decoration: none;
      margin-top: -5px;
    }
    .apple {
      display: flex;
      gap: 8px;
      h2 {
        font-size: 14px;
        font-weight: 400;
        color: #a1a1a1;
      }
      a {
        font-size: 14px;
        font-weight: 400;
        color: white;
        // border: none;
      }
    }
  }
  hr {
    margin-top: -20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 50px 0;

    .HeaderLogo {
      a {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        text-decoration: none;
      }
    }
    .HeaderMenu {
      display: flex;
      gap: 50px;
      text-decoration: none;

      a {
        text-decoration: none;
      }
      a:hover {
        border-bottom: 2px solid black;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        cursor: pointer;
        margin-top: 10px;
      }
    }
    .HeaderPoisk {
      text-align: center;
      display: flex;
      input {
        width: 243px;
        height: 38px;
        border: none;
        padding-left: 10px;
        background-color: #f5f5f5;
      }
      img {
        position: relative;
        left: -30px;
      }
    }
    .HeaderImg {
      display: flex;
      gap: -10px;
      img {
        width: 70px;
        height: 32px;
      }
    }
  }
}
