#favorite {
  .favorite {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
    margin-bottom: 90px;
    h1 {
      font-size: 20px;
      font-weight: 400;
    }
    button {
      font-size: 16px;
      font-weight: 500;
      width: 223px;
      height: 56px;
      border-radius: 4px;
      background: none;
      border: 1px solid black;
    }
  }
  .toBuyList {
    display: flex;
    gap: 66px;
    flex-wrap: wrap;
    margin-bottom: 140px;
    .toBuy {
      width: 270px;
      height: 322px;
      img {
        width: 100%;
        height: 209px;
        object-fit: cover;
      }
      .korzina {
        filter: invert(1);
        button {
          width: 270px;
          height: 41px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          border: none;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
          display: flex;
          justify-content: center;
          gap: 8px;

          img {
            width: 24px;
            height: 24px;
          }
        }
        button:active {
          filter: invert(1);
        }
      }
      .deleteOr {
        #delete {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: none;
          justify-content: center;
          align-items: center;
          position: relative;
          top: -248px;
          left: 233px;
          img {
            width: 24px;
            height: 24px;
          }
        }
        #delete:active {
          filter: invert(1);
        }
        h2 {
          font-size: 16px;
          font-weight: 500;
          margin-top: -16px;
        }
        h4 {
          font-size: 16px;
          font-weight: 500;
          margin-top: 8px;
          color: red;
        }
      }
    }
  }
}
