#home {
  .home {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 40px;
    .HomeMenu {
      height: 400px;
      width: 250px;
      margin-top: -41px;
      padding-top: 21px;
      border-right: 1px solid rgb(143, 143, 143);

      h2 {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        margin-top: 21px;
        display: flex;
        align-items: center;
        gap: 70px;
      }
      h2:hover {
        font-size: 17px;
      }
      .cn {
        padding-left: 24px;
      }
    }
    .HomeImages {
      background-color: black;
      width: 892px;
      height: 344px;
      display: flex;
      .Phone {
        margin-top: 58px;
        margin-left: 64px;
        h1 {
          color: white;
          font-size: 48px;
          font-weight: 600;
          margin-top: 20px;
        }
        h3 {
          color: white;
          font-size: 16px;
          font-weight: 400;
        }
        .logo {
          display: flex;
          align-items: center;
          gap: 30px;
        }
        button {
          background: none;
          border: none;
          color: white;
          align-items: center;
          display: flex;
          gap: 20px;
          font-size: 16px;
          margin-top: 40px;
        }
      }
    }
  }
}
#category {
  .category {
    margin-top: 90px;
    h1 {
      font-size: 32px;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 60px;
    }
    .logo {
      display: flex;
      gap: 16px;
      align-items: center;
      .kfa {
        background-color: #db4444;
        width: 20px;
        height: 40px;
        border-radius: 4px;
      }
      h1 {
        font-size: 16px;
        font-weight: 600;
        color: #db4444;
        margin-top: 60px;
      }
    }
    .blogs {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      .box:hover {
        .icon {
          filter: invert(1);
        }

        background-color: #db4444;
        color: white;
      }

      .box {
        width: 170px;
        height: 145px;
        border-radius: 4px;
        border: 1px solid #0000004d;
        align-items: center;
        text-align: center;
        #cam {
          filter: invert(1);
        }
        img {
          margin-top: 20px;
          margin-bottom: 16px;
        }
        h2 {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}
hr {
  width: 100%;
  margin-top: 70px;
}
#ThisMonth {
  margin-top: 140px;
  .logo {
    display: flex;
    gap: 16px;
    align-items: center;
    .kfa {
      background-color: #db4444;
      width: 20px;
      height: 40px;
      border-radius: 4px;
    }
    h1 {
      font-size: 16px;
      font-weight: 600;
      color: #db4444;
      // margin-bottom: 20px;
    }
  }
  .gap {
    display: flex;
    justify-content: space-between;
    h1 {
      margin-top: 20px;
      font-size: 36px;
      font-weight: 600;
    }
    button {
      background-color: #db4444;
      color: white;
      width: 159px;
      height: 56px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      border-radius: 4px;
    }
  }
  .ThisMonth {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    .products {
      .blog {
        width: 270px;
        height: 350px;
        // background-color: #f5f5f5;

        h1 {
          font-size: 16px;
          font-weight: 500;
          margin-top: 16px;
          margin-bottom: 8px;
        }
        h2 {
          font-size: 16px;
          font-weight: 500;
          color: #db4444;
          margin-bottom: 8px;
        }

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          background: transparent;
        }
        #zz {
          width: 140px;
          height: 20px;
        }
        #favorit {
          background-color: white;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          border: none;
          position: relative;
          top: -290px;
          left: 230px;
          z-index: 1;
          img {
            width: 34px;
            height: 34px;
            // position: relative;
            // top: -290px;
            // left: 230px;
            // z-index: 2;
          }
        }
        #favorit:active {
          filter: invert(1);
        }
      }
    }
  }
}
#JBG {
  .JBG {
    display: flex;
    background-color: black;
    margin-top: 140px;
    margin-bottom: 71px;
    padding-left: 56px;
    padding-top: 69px;
    height: 500px;
    width: 100%;
    .infa {
      color: white;
      h3 {
        font-size: 16px;
        font-weight: 600;
        color: #00ff66;
        margin-bottom: 32px;
      }
      h1 {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 134px;
        margin-right: 97px;
      }
      button {
        width: 171px;
        height: 56px;
        background-color: #00ff66;
        color: white;
        font-size: 16px;
        font-weight: 500;
        border-radius: 4px;
        border: none;
      }
    }
    .img {
      img {
        margin-top: -20px;
      }
    }
  }
}
#Featured {
  .logo {
    display: flex;
    gap: 16px;
    align-items: center;
    .kfa {
      background-color: #db4444;
      width: 20px;
      height: 40px;
      border-radius: 4px;
    }
    h1 {
      font-size: 16px;
      font-weight: 600;
      color: #db4444;
      margin-bottom: 20px;
    }
  }
  h1 {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 600;
  }
  .Featured {
    display: flex;
    gap: 30px;
    justify-content: center;
    .ps5 {
      color: white;
      background-color: black;
      width: 570px;
      height: 600px;
      opacity: 1;
      border-radius: 4px;
      position: relative;
      margin-bottom: 140px;
      margin-top: 60px;
      h3 {
        z-index: 3;
        font-size: 24px;
        font-weight: 600;
        margin-left: 32px;
        position: relative;
        top: 446px;
      }
      p {
        position: relative;
        margin-left: 32px;
        top: 456px;
        font-size: 14px;
        font-weight: 400;
        z-index: 3;
      }
      a {
        margin-left: 32px;
        position: relative;
        top: 494px;
        font-size: 16px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white;
        z-index: 3;
      }
      img {
        z-index: 2;
        position: absolute;
        top: 89px;
        left: 29px;
      }
    }
    .blog {
      .women {
        width: 570px;
        height: 284px;
        opacity: 1;
        border-radius: 4px;
        position: relative;
        background-color: rgb(0, 0, 0);
        color: white;
        top: -79px;
        // margin-top: 60px;

        h3 {
          z-index: 3;
          margin-left: 24px;
          position: relative;
          margin-top: 138px;
          margin-bottom: 16px;
          font-size: 24px;
          font-weight: 600;
          top: 138px;
        }
        p {
          position: relative;
          margin-left: 24px;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 16px;
          top: 138px;

          z-index: 3;
        }
        a {
          top: 146px;
          font-size: 16px;
          font-weight: 500;
          position: relative;
          margin-left: 24px;
          color: white;
          z-index: 3;
          text-decoration: none;
          border-bottom: 1px solid white;
        }
        img {
          z-index: 2;
          position: absolute;
          left: 138px;
        }
      }
      .lol {
        display: flex;
        gap: 30px;
        .Speakers {
          width: 270px;
          height: 284px;
          color: white;
          background-color: black;
          opacity: 1;
          border-radius: 4px;
          opacity: 1;
          position: relative;
          top: -46px;

          h3 {
            z-index: 3;
            position: relative;
            margin-left: 24px;
            margin-top: 175px;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 8px;
          }
          p {
            position: relative;
            margin-left: 24px;
            font-size: 14px;
            font-weight: 400;
            z-index: 3;
            margin-bottom: 8px;
          }
          a {
            margin-left: 24px;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            color: white;
            z-index: 3;
            text-decoration: none;
            border-bottom: 1px solid white;
          }
          img {
            z-index: 2;
            position: absolute;
            top: 31px;
            left: 30px;
          }
        }
      }
    }
  }
}
#fact {
  .fact {
    display: flex;
    gap: 88px;
    margin-top: 196px;
    margin-bottom: 140px;
    justify-content: center;
    .box {
      text-align: center;
      h2 {
        margin-bottom: 8px;
        margin-top: 24px;
        font-size: 20px;
        font-weight: 600;
      }
      h3 {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
