#about {
  .about {
    .AbAndHom {
      .a {
        display: flex;
        gap: 20px;
        margin-top: 80px;
        margin-bottom: 42px;
        a {
          color: rgb(187, 187, 187);
          text-decoration: none;
        }
        p {
          color: black;
        }
      }

      .aboutMain {
        display: flex;
        align-items: center;
        gap: 75px;
        .aboutText {
          h1 {
            font-size: 54px;
            font-weight: 600;
            margin-bottom: 16px;
          }
          p {
            margin-top: 24px;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
#main {
  .main {
    display: flex;
    gap: 30px;
    justify-content: center;
    .box:hover {
      .icon {
        filter: invert(1);
      }
      background-color: #db4444;
      color: white;
    }
    .box {
      margin-top: 140px;
      width: 270px;
      height: 230px;
      text-align: center;
      border: 2px solid rgb(151, 151, 151);

      img {
        margin-top: 30px;
        margin-bottom: 24px;
      }

      h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 12px;
      }
      h3 {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
#people {
  .people {
    margin-top: 140px;
    display: flex;
    gap: 30px;
    justify-content: center;
    .card {
      h2 {
        font-size: 32px;
        font-weight: 500;
        margin-top: 32px;
      }
      h3 {
        font-size: 16px;
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 16px;
      }
      .icon {
        filter: invert(1);
      }
      .contact {
        display: flex;
        gap: 16px;
      }
    }
  }
}
#fact {
  .fact {
    display: flex;
    gap: 88px;
    margin-top: 196px;
    margin-bottom: 140px;
    justify-content: center;
    .box {
      text-align: center;
      h2 {
        margin-bottom: 8px;
        margin-top: 24px;
        font-size: 20px;
        font-weight: 600;
      }
      h3 {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
