#contact {
  .contact {
    margin-top: 80px;
    margin-bottom: 191px;
    margin-left: 32px;
    display: flex;
    gap: 65px;
    .a {
      display: flex;
      gap: 20px;
      margin-top: 80px;
      margin-bottom: 42px;
      a {
        color: rgb(187, 187, 187);
        text-decoration: none;
      }
      p {
        color: black;
      }
    }
    hr {
      width: 270px;
    }
    .contactInfa {
      h3 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;
      }
      .logo {
        margin-top: 120px;
        margin-bottom: 24px;
        display: flex;
        gap: 16px;
        align-items: center;
        h2 {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .cont {
      margin-top: 32px;
      .logo {
        display: flex;
        margin-bottom: 24px;
        gap: 16px;
        align-items: center;
        h2 {
          font-size: 16px;
          font-weight: 500;
        }
      }
      h3 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;
      }
    }
    .input {
      .infa {
        display: flex;
        gap: 0 16px;
        #top {
          width: 235px;
          height: 50px;
          background-color: #f5f5f5;
          margin-top: 180px;
          border: none;
          padding-left: 16px;
          font-size: 16px;
          font-weight: 400;
        }
      }
      #big {
        width: 737px;
        height: 207px;
        background-color: #f5f5f5;
        border: none;
        padding-left: 16px;
        padding-bottom: 140px;
        font-size: 16px;
        font-weight: 500;
      }
      button {
        background-color: #db4444;
        width: 215px;
        height: 56px;
        font-size: 16px;
        font-weight: 500;
        color: white;
        border: none;
        border-radius: 3px;
        margin-top: 32px;
        margin-left: 522px;
      }
    }
  }
}
