#login {
  .login {
    margin-top: 60px;
    margin-bottom: 140px;
    display: flex;
    justify-content: center;
    .logImg {
      img {
        object-fit: cover;
      }
    }
    .loginText {
      margin-top: 230px;
      margin-left: 130px;
      h1 {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 24px;
      }
      h3 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 24px;
      }
      input {
        width: 370px;
        height: 32px;
        margin-bottom: 40px;
        border: none;
        background: none;
        border-bottom: 2px solid rgb(180, 180, 180);
      }
      button {
        width: 143px;
        height: 56px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
      }
      a {
        color: red;
        font-size: 16px;
        font-weight: 400;
        margin-left: 87px;
      }
    }
  }
}
