#register {
  .register {
    display: flex;
    margin-top: 60px;
    margin-bottom: 140px;
    .reaImg {
      img {
        width: 919px;
        height: 706px;
      }
    }
    .inpRes {
      margin-top: 180px;
      margin-left: 130px;
      h1 {
        font-size: 36px;
        font-weight: 500;
      }
      h3 {
        font-size: 16px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 48px;
      }
      input {
        width: 370px;
        height: 32px;
        margin-bottom: 40px;
        border: none;
        background: none;
        border-bottom: 2px solid rgb(180, 180, 180);
      }

      #ok {
        width: 371px;
        height: 56px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
      }
      #google {
        width: 371px;
        height: 56px;
        border: none;
        border-radius: 5px;
        margin-top: 16px;
        align-items: center;
        display: flex;
        gap: 16px;
        padding-left: 86px;
        font-size: 16px;
        font-weight: 400;
      }
      .perehod {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 34px;
        margin-left: 61px;
        h2 {
          font-size: 16px;
          font-weight: 400;
        }
        a {
          font-size: 16px;
          font-weight: 500;
          color: black;
        }
      }
    }
  }
}
