#card {
  .card {
    margin-bottom: 300px;

    .a {
      display: flex;
      gap: 20px;
      margin-top: 80px;
      margin-bottom: 42px;
      a {
        color: rgb(187, 187, 187);
        text-decoration: none;
      }
      p {
        color: black;
      }
    }
    .tabl {
      align-items: center;
      display: flex;
      gap: 280px;
      justify-content: center;
      border: none;
      border-bottom: 1px solid #0000000d;
      margin-top: 80px;
      border-radius: 4px;
      width: 1170px;
      height: 72px;

      h2 {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .ProductCard {
      width: 1170px;
      height: 840px;
      flex-wrap: wrap;

      .products {
        h2 {
          font-size: 16px;
          font-weight: 400;
        }
        .blog {
          padding-bottom: 40px;
          width: 1170px;
          height: 72px;
          border-radius: 4px;
          border: none;
          border-bottom: 1px solid #0000000d;
          align-items: center;
          display: flex;
          gap: 200px;
          margin: 100px 0;
          img {
            width: 70px;
            height: 70px;
          }
          .d {
            display: flex;
            align-items: center;

            button {
              border: none;
              border-radius: 50%;
              background-color: red;
              width: 24px;
              height: 24px;
              position: relative;
              top: -30px;
              left: -80px;
              img {
                width: 15px;
                height: 15px;
                filter: invert(1);
                object-fit: cover;
              }
            }
            button:active {
              filter: invert(1);
            }
            h1 {
              font-size: 16px;
              font-weight: 400;
            }
          }
          .count {
            display: flex;
            width: 72px;
            height: 44px;
            padding: 12px;
            align-items: center;
            border: 2px solid rgb(219, 219, 219);
            border-radius: 4px;
            h2 {
              font-size: 16px;
              font-weight: 400;
            }

            #increment {
              border: none;
              background: none;
              width: 16px;
              height: 16px;
              position: relative;
              top: -7px;
              left: 10px;

              img {
                width: 10px;
                height: 10px;
              }
            }
            #decrement {
              border: none;
              background: none;
              width: 16px;
              height: 16px;
              position: relative;
              top: 8px;

              img {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
    }
    .btn {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
      button {
        width: 220px;
        height: 56px;
        background: none;
        border: 1px solid black;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .finish {
      display: flex;
      justify-content: space-between;
      .codeFree {
        display: flex;
        gap: 16px;
        input {
          width: 300px;
          height: 56px;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 400;
          padding-left: 24px;
          border: 1px solid black;
        }
        button {
          width: 211px;
          height: 56px;
          background-color: #db4444;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 500;
          color: white;
          border: none;
        }
      }
      .chek {
        width: 470px;
        height: 324px;
        border: 1px solid black;
        border-radius: 4px;
        padding-top: 32px;
        padding-left: 24px;
        h1 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 24px;
        }
        h2 {
          font-size: 16px;
          font-weight: 400;
          margin-top: 16px;
        }
        hr {
          margin-top: 16px;
          width: 422px;
          justify-content: center;
        }
        button {
          width: 260px;
          height: 56px;
          background-color: #db4444;
          border: none;
          border-radius: 4px;
          color: white;
          font-size: 16px;
          font-weight: 500;
          margin-left: 89px;
          margin-top: 26px;
        }
      }
    }
  }
}
