#footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 440px;
  .footer {
    justify-content: space-between;
    display: flex;
    padding-top: 150px;
    .FooterInp {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      h2 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      input {
        width: 217px;
        height: 48px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        padding-left: 15px;
        margin-bottom: 20px;
        background: none;
      }
      img {
        position: relative;
        left: -30px;
        top: 6px;
      }
    }
    .FooterSup {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
      }
    }
    .FooterAcc {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
      }
    }
    .FooterQui {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
      }
    }
    .FooterDow {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      h5 {
        font-size: 12px;
        font-weight: 500;
        color: #fafafa;
      }
      .Quar {
        display: flex;
        img {
          margin-top: 8px;
        }
        .App {
          text-align: center;
          img {
            width: 90px;
            height: 40px;
            margin-left: 7px;
          }
        }
      }
    }
    .contacts {
      display: flex;
      justify-content: space-between;
      img {
        margin-top: 20px;
      }
    }
  }
}
